.body{
    margin: auto; 
    width: 50%;
    
}
.backgroundImage{
    background-image: url(../assets/peakpx.jpg);
    height: 50em;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.subHeader{
    font-size: 2em;
    color: #303030;
    font-family: "WensleyDemo";
    text-align: center;
}

.text{
    font-size: 1.5em;
    color: #303030;
    font-family: "WensleyDemo";
    text-align: center;
}

.contactGroup{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    /* color: #505050; */
}

.form {
    background-color: #A0A0A0;
    border-radius: 20px;
    box-sizing: border-box;
    height: 32em;
    padding: 2em;
    width: 40em;
    margin: auto;
}

.topInputContainer{
    height: 3em;
    position: relative;
    width: 100%;
}

.inputContainer {
    height: 3em;
    position: relative;
    width: 100%;
    margin-top: 2em;
}

.textAreaInputContainer {
    height: 17.5em;
    position: relative;
    width: 100%;
    margin-top: 2em;
}

.input {
    background-color: #ffffff;
    border-radius: 12px;
    box-sizing: border-box;
    border: 0;
    color: #505050;
    font-size: 1.5em;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.buttonBox{
    text-align: center;
}

.button {
    margin-top: 1em;
    text-decoration: none;
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: "WensleyDemo";
    font-size: 1.5em;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    width: 75%;
    /* max-width: 480px; */
    min-height: 60px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    gap: .5em;
    margin-bottom: 2em;
}

.button:hover,
.button:focus { 
    background-color: #16437E;
    color: #ffffff;
}