.body{
    margin: auto; 
    background-color: #202020;
    
}

.footer{
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
}

.p{
    font-family: "WensleyDemo";
    font-size: 1.5em;
}
.contactGroup{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.link{
    font-size: 1.5em;
    color: #ffffff;
    text-decoration: none;
    font-family: "WensleyDemo"; 
    margin: auto;  
}