.header_body{
    position: sticky;
    top: 0px;
    background-color: white;
}
.header{
    width: auto;
    margin: 2em;
    display: flex;
    justify-content: space-around;
}

.header_line_group{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link{
    color: inherit;
    text-decoration: inherit;
    
}