.subHeader{
    font-family: "WensleyDemo";
    text-align: center;
}

.body{
    margin: auto; 
    width: 80%;
}

.columns{
    display: flex;
    justify-content: space-around;
}

.narrative{
    margin: auto; 
    width: 50%;
}