.body{
    height: 100vh;
}

.backgroundImage{
    background-image: url(../assets/peakpx.jpg);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.content{
    display: block;
    justify-content: center;
    align-items: center;
    
}


.h1{
    font-family: "WensleyDemo";
    font-size: 50px;
    text-align: center;
}

.p{
    font-size: 30px;
    font-family: "WensleyDemo";
    text-align: center;
    color: #505050;
}

.link{
    font-size: 30px;
    font-family: "WensleyDemo";
    background-color: rgb(93, 148, 93);
    padding: 15px 25px;
    text-decoration: none;
}

.link {
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 60px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.link:hover,
.link:focus { 
    background-color: #16437E;
    color: #ffffff;
}
