.body{
    height: 100vh;
}

.backgroundImage{
    background-image: url(../assets/peakpx.jpg);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.h1{
    font-family: "WensleyDemo";
    font-size: 50px;
}

.p{
    font-size: 30px;
    font-family: "WensleyDemo";
}
