.body{
    align-items: center;
    justify-content: center;
}

.backgroundImage{
    background-image: url(../assets/peakpx.jpg);
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.projectImage{
    display: block;
    margin:auto;
    margin-top: 1em;
    width: 50%;
    border: 2px solid #303030;
    box-shadow: 10px 10px #303030;
}

.content{
    text-align: center;
    width: 50%;
}

.contentLive{
    text-align: center;
    padding: 1em;
}

.h1{
    font-family: "WensleyDemo";
    font-size: 3.25em;
    text-align: center;
    color: #303030;
}

.subHeader{
    font-size: 2em;
    color: #303030;
    font-family: "WensleyDemo";
    text-align: center;
    margin-top: 2em;
}

.projectNarrative{
    margin: auto;
    margin-top: 2em;
    width: 40%;
    font-size: 1.5em;
    font-family: "WensleyDemo";
    text-align: center;
    color: #505050;
}

.link {
    text-decoration: none;
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: "WensleyDemo";
    font-size: 2em;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 60px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    gap: .5em;
    margin-bottom: .5em;
}

.link:hover,
.link:focus { 
    background-color: #16437E;
    color: #ffffff;
}

.skill{
    align-items: center;
    background-color: #F0F0F0;
    border: 0;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 20px;
    margin: 10px;
    text-align: center;
    color: #505050;

}

.skillsBox{
    margin: auto; 
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.seeLiveBox{
    margin: auto;
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}