.body{
    margin: auto; 
    width: 30%;
    display: flex; 
    flex-wrap: wrap;
}

.skill{
    align-items: center;
    background-color: #F0F0F0;
    border: 0;
    width: auto;
    height: auto;
    padding: 20px;
    margin: 10px;
    text-align: center;
    color: #505050;

}