.body{
    margin: auto; 
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill{
    align-items: center;
    background-color: #F0F0F0;
    border: 0;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 20px;
    margin: 10px;
    text-align: center;
    color: #505050;
    @media (max-width: 992px) {
        font-size: .75em;
        max-height: .25em;
        width: auto;
        align-items: center;
    }

}